__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

Untitled.ipynb
.envrc

.ipynb_checkpoints

*.bin
*.txt
*.pkl
*/ckpt.pt